<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <title>Home</title>

</head>
<body>
    <nav class="navbar background h-nav-resp">
        <ul class="nav-list v-class-resp">
            <div class="logo"><img src="https://media.istockphoto.com/id/1297130513/photo/dieffenbachia-plant-in-black-flowerpot-with-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=7aaZ_c7fCGsuEkcwXVy1JKw20v6Ad7KhRou2oLpXno4=" alt="logo"></div>

            <h2 class="PDD">Plant Disease Detection</h2>
            <!-- <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#service">Services</a></li>
            <li><a href="#contact">Contact Us</a></li> -->
        </ul>
        <div class="rightNav v-class-resp">
            <input type="text" name="search" id="search">
            <button class="btn btn-sm">Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>

    <section class="background firstSection">
        <div class="box-main">
            <div class="firstHalf">
                <p class="text-big">The Future Of Farming is Here</p>
                <p class="text-small">Plant Disease is the leading international journal for rapid reporting of research on new, emerging, and established plant diseases. The journal publishes papers that describe translational and applied research focusing on practical aspects of disease diagnosis, development, and management in agricultural and horticultural crops.</p>

                <div class="buttons">
                    <p class="text-big center">Upload a image to Identify the Disease</p>
                    <!-- <button class="btn"></button> -->
                    <button class="btn">Upload</button>
                </div>
            </div>
            <div class="secondHalf">
                <img src="https://source.unsplash.com/1600x900/?plants leaf,diseased crop" alt="Plant Image">
            </div>
        </div>
    </section>

    <section class="section">
        <div class="paras">
            <p class="sectionTag text-big">Wheat Curl Mite and Mite-Vectored Viruses of Wheat and Wheat Virome</p>
            <p class="sectionSubTag text-small">As molecular genetic techniques improve and sequence data becomes available for more fungal species, taxonomic classifications historically based upon growth morphology alone are being revisited and occasionally reclassified. Herein, we present such an instance for the fungal pathogen that causes dry berry disease of caneberries. The organism was previously described as the basidiomycete fungus Rhizoctonia rubi based upon the pathogen’s production of Rhizoctonia-like angular branching hyphae. Utilizing molecular genetic techniques unavailable when the pathogen was first characterized in 1959, three housekeeping gene regions (ITS, β-tubulin, and G3PDH) were sequenced across 13 contemporary dry berry isolates, as well as the original 1959 R. rubi type strain, CBS382.59. The resulting neighbor-joining, maximum likelihood, and Bayesian phylogenies for single and multilocus sequences provide strong evidence that the dry berry pathogen was misclassified.</p>
        </div>
        <div class="thumbnail">
            <img src="https://images.pexels.com/photos/14309875/pexels-photo-14309875.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Plant Image" class="imgFluid">
        </div>
    </section>

    <section class="section Left">
        <div class="paras">
            <p class="sectionTag text-big">The Use of Potassium Phosphonate (KHP) for the Control of Major Apple Pests</p>
            <p class="sectionSubTag text-small">Phosphonate-based products have demonstrated diverse abilities to protect crops against pests, with various modes of action proposed. In this article, we specifically investigated potassium phosphonate (KHP) on apple crops. Its performance to control three major apple bioagressors (Venturia inaequalis, Erwinia amylovora, and Dysaphis plantaginea) was evaluated under semicontrolled conditions. The product was able to confer significant protection rates (40 to 75% for apple scab, 40% for fire blight, and 30% for rosy aphid), which can be explained by its more or less efficient biocidal activity against the three pests, and by its ability to induce apple immunity (pathogenesis-related proteins and secondary metabolites genes).</p>
        </div>
        <div class="thumbnail">
            <img src="https://media.istockphoto.com/id/1064178096/photo/harvesting-apples-thuringia-germany.jpg?s=612x612&w=0&k=20&c=qXaXLmlOsxbVJ32N5OUNoGIfTVFZ3jP7mn5Dk4Azpew=" alt="Plant Image" class="imgFluid">
        </div>
    </section>
    
    <section class="section">
        <div class="paras">
            <p class="sectionTag text-big">Surveillance of Rice Blast Resistance Effectiveness and Emerging Virulent</p>
            <p class="sectionSubTag text-small">Rice blast caused by Magnaporthe oryzae is a dangerous threat to rice production and food security worldwide. Breeding and proper deployment of resistant varieties are effective and environmentally friendly strategies to manage this notorious disease. However, a highly dynamic and quickly evolved rice blast pathogen population in the field has made disease control with resistance germplasms more challenging. Therefore, continued monitoring of pathogen dynamics and application of effective resistance varieties are critical tasks to prolong or sustain field resistance. </p>
        </div>
        <div class="thumbnail">
            <img src="https://media.istockphoto.com/id/695393062/photo/green-rice-field-in-taiwan.jpg?b=1&s=612x612&w=0&k=20&c=EuY_gJNGxWIRJ2WeOATUHxD7DrKMm30wpOYWqNgmMGY=" alt="Plant Image" class="imgFluid">
        </div>
    </section>

    <div class="blue">
        <h1 class="blueh1">Common Diseases Of Some Common Crops</h1>
        <section class="section Left">
            <div class="paras">
                <p class="sectionTag text-big">In Soyabeans</p>
                <p class="sectionSubTag text-small"><b>Frogeye leaf spot</b> is a foliar disease of soybeans that has the potential to cause significant yield loss. This disease is most severe during seasons with frequent rainfall and long periods of high relative humidity.</p>
                <p class="sectionSubTag text-small"><b>Fusarium root rot</b> is an important disease that occurs in many soybean production areas. However, this disease may be difficult to diagnose because the causal agent(s) may either act as primary pathogens or they may colonize root systems along with other soilborne fungi.</p>
            </div>
            <div class="thumbnail">
                <img src="http://d27p2a3djqwgnt.cloudfront.net/wp-content/uploads/2019/08/21145725/Frogeye-1.jpg" alt="Plant Image" class="imgFluid">
            </div>
        </section>

        <section class="section">
            <div class="paras">
                <p class="sectionTag text-big">In Wheat</p>
                <p class="sectionSubTag text-small"><b>Wheat leaf rust (Puccinia triticina)</b> is a fungal disease that affects wheat, barley, rye stems, leaves and grains. In temperate zones it is destructive on winter wheat because the pathogen overwinters. Infections can lead up to 20% yield loss, which is exacerbated by dying leaves, which fertilize the fungus.</p>
                <p class="sectionSubTag text-small"><b>Powdery mildew </b>is a fungal leaf disease that reduces yield and grain quality in susceptible wheat varieties. It has multiple, fast life cycles in a growing season and can be very hard to control once it is established, strategies are outlined below to limit early infection.</p>
            </div>
            <div class="thumbnail">
                <img src="https://www.frontiersin.org/image/researchtopic/11493" alt="Plant Image" class="imgFluid">
            </div>
        </section>
        
        <section class="section Left">
            <div class="paras">
                <p class="sectionTag text-big">In Grapes</p>
                <p class="sectionSubTag text-small"><b>Downy mildew, powdery mildew, grey mold, black rot</b> and<b> anthracnose</b> are caused by fungi that attack the berries, reducing yield and quality.</p>
                <p class="sectionSubTag text-small"><b>Blue mould decay</b> It is characterized by a light brown discoloration of the skin followed by a soft and wet rot that can rapidly affect the entire berry.</p>
                <p class="sectionSubTag text-small"><b>Anthracnose </b> of grapes, caused by the fungus Elsinoe ampelina, is a serious disease of home-grown grapes. It is also commonly called bird's eye rot for the distinctive spots it causes on grape berries. The disease is most destructive in warm, wet seasons.</p>
            </div>
            <div class="thumbnail">
                <img src="https://doraagri.com/wp-content/uploads/2018/12/grapes_sour_rot.jpg" alt="Plant Image" class="imgFluid">
            </div>
        </section>
        <section class="section">
            <div class="paras">
                <p class="sectionTag text-big">In Potato</p>
                <p class="sectionSubTag text-small"><b>Common scab</b> of potatoes is a soil-borne disease caused by the bacteria-like organism Streptomyces scabies. This organism attacks: potato stems. potato stolons.</p>
                <p class="sectionSubTag text-small"><b>Septoria leaf spot</b> Small, round to irregular spots with a grey center and dark margin on leaves.</p>
                <p class="sectionSubTag text-small"><b>Early blight</b> of potato is caused by the fungal pathogen Alternaria solani. The disease affects leaves, stems and tubers and can reduce yield, tuber size, storability of tubers, quality of fresh-market and processing tubers and marketability of the crop.</p>
            </div>
            <div class="thumbnail">
                <img src="https://www.potatoesincanada.com/wp-content/uploads/2020/02/PIC1-4-Scabby-new-variety-EB.jpg" alt="Plant Image" class="imgFluid">
            </div>
        </section>

        <section class="section Left">
            <div class="paras">
                <p class="sectionTag text-big">In Tomato</p>
                <p class="sectionSubTag text-small"><b>Early blight </b>The fungus attacks the foliage causing characteristic leaf spots and blight. </p>
                <p class="sectionSubTag text-small"><b>Botrytis </b>inTomato leaf and stem lesions are tan to brown in color. Stem infections occur during periods of high humidity through leaf scars, cracks, and pruning wounds.</p>
                <p class="sectionSubTag text-small"><b>Septoria leaf spot </b> is caused by the fungus Septoria lycopersici. This fungus can attack tomatoes at any stage of development, but symptoms usually first appear on the older, lower leaves and stems when plants are setting fruit.</p>
            </div>
            <div class="thumbnail">
                <img src="https://njaes.rutgers.edu/fs547/FS547-1-big.jpg" alt="Plant Image" class="imgFluid">
            </div>
        </section>
        
        <section class="section">
            <div class="paras">
                <p class="sectionTag text-big">In Mango</p>
                <p class="sectionSubTag text-small"><b>Downy mildew, powdery mildew, grey mold, black rot</b> are caused by fungi that attack the berries, reducing yield and quality.</p>
                <p class="sectionSubTag text-small"><b>Blue mould decay</b> It is characterized by a light brown discoloration of the skin followed by a soft and wet rot that can rapidly affect the entire berry.</p>
                <p class="sectionSubTag text-small"><b>Anthracnose</b>  is caused by the fungus Colletotrichum gloeosporioides var minor (also known by the name of its perfect stage Glomerella cingulata var minor). Spore production by this fungus is favoured by wet or humid weather.</p>
            </div>
            <div class="thumbnail">
                <img src="https://www.growables.org/information/TropicalFruit/images/mango_anthracnose_fruit_symptoms_2.JPG" alt="Plant Image" class="imgFluid">
            </div>
        </section>

        <section class="section Left">
            <div class="paras">
                <p class="sectionTag text-big">In Gram(Chickpea)</p>
                <p class="sectionSubTag text-small"><b>Gram wilt</b>  is caused by a fungus that lives in the soil. Leaves become yellow, dry and are ultimately shed from the plant.</p>
                <p class="sectionSubTag text-small"><b>Ascochyta blight</b>  of chickpea is caused by the fungal pathogen Ascochyta rabiei (formerly known as Phoma rabiei).</p>
                <p class="sectionSubTag text-small"><b>Dry root rot (DRR) </b> specific strains of a necrotic fungal phytopathogen, Macrophomina phaseolina, cause DRR. Microsclerotia of this fungus, which are capable of withstanding harsh environmental conditions, serve as primary inoculum.</p>
            </div>
            <div class="thumbnail">
                <img src="https://ars.els-cdn.com/content/image/3-s2.0-B9780081005965000354-f00035-04-9780123944375.jpg" alt="Plant Image" class="imgFluid">
            </div>
        </section>
        <section class="section">
            <div class="paras">
                <p class="sectionTag text-big">In Onion</p>
                <p class="sectionSubTag text-small"><b>Botrytis leaf blight/leaf spot</b>  is a fungal disease of alliums caused by Botrytis squamosa. Symptoms first appear as small whitish spots on the leaf. These spots are oval-shaped, and sometimes surrounded by a light green or silver halo that often appears water-soaked.</p>
                <p class="sectionSubTag text-small"><b>Downy mildew</b>  are first noticed as circular clumps of yellowed plants that are a few to many feet in diameter. As the disease progresses, the yellowing patterns often enlarge in the direction of prevailing winds.</p>
                <p class="sectionSubTag text-small"><b>Purple Blotch</b>  is caused by the fungus Alternaria porri. It is an important disease in warm, humid onion-growing regions around the world. Garlic and leeks may be affected as well as onions</p>
            </div>
            <div class="thumbnail">
                <img src="https://www.canr.msu.edu/contentAsset/image/aab778b1-a844-48b3-8659-20909eb85493/fileAsset/filter/Resize,Jpeg/resize_w/750/jpeg_q/80" alt="Plant Image" class="imgFluid">
            </div>
        </section>

        <section class="section Left">
            <div class="paras">
                <p class="sectionTag text-big">In Apple</p>
                <p class="sectionSubTag text-small"><b>Apple scab </b> ,disease of apple trees caused by the ascomycete fungus Venturia inaequalis. Apple scab is found wherever apples and crabapples are grown but is most severe where spring and summer are cool and moist. The disease can cause high crop losses and is thus of economic import to apple growers.</p>
                <p class="sectionSubTag text-small"><b>Monilinia fructicola</b>  is a species of fungus in the order Helotiales. A plant pathogen, it is the causal agent of brown rot of stone fruits.</p>
            </div>
            <div class="thumbnail">
                <img src="https://www.backyardboss.net/wp-content/uploads/2022/06/byb-disease-apples-feture-2048x1556.jpg" alt="Plant Image" class="imgFluid">
            </div>
        </section>
    </div>
    <br><br>
    <footer class="text-footer">
        <div>Copyright &copy; 2022 - www.PlantDiseaseDetection.com. All right reserved!</div>
    </footer>
</body>
</html>